---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Computer from '../icons/Computer.astro';
import X from '../icons/X.astro';
import Projects from '../components/Projects.astro';
import Divider from '../components/Divider.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Mail from '../icons/Mail.astro';
import Code from '../icons/Code.astro';
import Atom from '../icons/Atom.astro';
import Download from '../icons/Download.astro'
import Python from '../icons/Python.astro';
import React from '../icons/React.astro';
import SkillCard from '../components/SkillCard.astro';
import Nestjs from '../icons/Nestjs.astro';
import Postgres from '../icons/Postgres.astro';
import Typescript from '../icons/Typescript.astro';
import Postman from '../icons/Postman.astro';
import Docker from '../icons/Docker.astro';
import Swagger from '../icons/Swagger.astro';
import Mariadb from '../icons/Mariadb.astro';
import Tailwind from '../icons/Tailwind.astro';

const TECNOLOGIAS = [{
	name: "Python",
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
	Icon: Python,
}, {
	name: "ReactJS",
	Icon: React,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
},{
	name: "NestJS",
	Icon: Nestjs,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
},{
	name: "PostgreSQL",
	Icon: Postgres,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}, {
	name: "Docker",
	Icon: Docker,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
},{
	name: "Typescript",
	Icon: Typescript,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}, {
	name: "Postman",
	Icon: Postman,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}, {
	name: "Swagger",
	Icon: Swagger,
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}, {
	name: "MariaDB",
	Icon: Mariadb,
	startEnd: "col-start-2 col-end-3",
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}, {
	name: "TailwindCSS",
	Icon: Tailwind,
	startEnd: "col-start-3 col-end-4",
	style: "bg-gradient-to-tr from-slate-300/10 via-slate-300/40 to-slate-300/10",
}
]


---

<Layout  title="Juan Cruz Marquez - Portfolio personal"  description="Contrata a Juan Cruz M치rquez como desarrollador web. Desarrollo de sitios web, aplicaciones web, aplicaciones m칩viles, ecommerce, landing pages, y m치s.">
	<main class="px-4 z-30">
		<SectionContainer class="py-44 pb-32 justify-center w-full lg:justify-normal ">
			<h1 class="text-white flex flex-row  text-5xl font-bold text-pretty justify-center lg:justify-start  gap-x-4 pb-10 gap-2 lg:text-5xl">
				<img src="https://avatars.githubusercontent.com/u/70668267?v=4" class="rounded-full w-12 h-12 lg:hidden" alt="Foto de perfil de Juan Cruz">
				Hey <span class="hover:rotate-45  hover:transition hover:duration-300 transition duration-300 ">游녦</span> soy Juan Cruz !  <div class="justify-center items-center flex"><Badge href="https://vemovilidad.com/">Working in VEMO!</Badge></div>
			</h1>
			<div class="flex flex-col text-3xl px-28 w-screen text-start text-pretty  lg:inline-block  lg:justify-items-start lg:max-w-[700px] lg:px-0 "
			>
			<span class="text-white/90">Desarrollador Full Stack y futuro Ing. en Sistemas</span>
			<span class="bg-gradient-to-r from-neutral-300 to-stone-100 bg-clip-text text-transparent">+4 a침os de experiencia</span>
			</div>
			<div class="w-full text-start px-28 lg:px-0">

				<span class="text-3xl text-start text-white/60 ">Villa Mar칤a, C칩rdoba, Argentina </span>
			</div>
	
			<nav class="flex  mt-8 flex-wrap lg:gap-4 text-center w-screen justify-start px-28 gap-20 lg:px-0">
					<SocialPill href="https://www.linkedin.com/in/juancruzmarquez/">
						<Linkedin class="size-4"/>
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/juancruzmarq">
						<Github class="size-4"/>
						Github
					</SocialPill>
					<SocialPill href="mailto:marquezjuanchy@hotmail.com">
						<Mail class="size-4"/>
						Email
					</SocialPill>
					<SocialPill href="./JuanCruzMarquezCV.pdf" download="JuanCruzMarquezCV.pdf">
						<Download class="size-4"/>
						CV
					</SocialPill>

			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" class="mt-32 px-28 lg:px-0" >
			<h2 class="text-3xl font-semibold mb-8  items-center flex justify-start">Experiencia </h2>
			<Experience/>
		</SectionContainer>

		<Divider />

		<SectionContainer id="proyectos" class="px-28 lg:px-0" >
			<h2 class="text-3xl font-semibold mb-8 gap-x-2 items-center flex justify-start">Proyectos </h2>
			<Projects/>
			<div class="flex w-full justify-center mt-10">
				<a href="https://github.com/juancruzmarq?tab=repositories" target="_blank" class="text-xs items-center text-white/90 bg-transparent hover:text-green-300 border-white/50 border rounded-lg p-2 hover:border-green-300/30 hover:border hover:scale-110 transition duration-500">Ver m치s en Github</a>
			</div>
		</SectionContainer>

		<Divider />

		<SectionContainer id="tecnologias" class="px-28 lg:px-0 mb-40">
			<h1 class="text-3xl font-semibold mb-8 gap-x-2 items-center flex justify-center">Tecnolog칤as </h1>
			<div class="grid grid-cols-4 grid-flow-row gap-4 w-full">

					{
						TECNOLOGIAS.map(({name,style,startEnd, Icon}) => (
							<SkillCard name={name} style={style} startEnd={startEnd}>
									<Icon class='size-12'/>
							</SkillCard>
						))
					}

			

			</div>
		</SectionContainer>

	</main>
</Layout>

