---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Computer from '../icons/Computer.astro';
import X from '../icons/X.astro';
import Projects from '../components/Projects.astro';
import Divider from '../components/Divider.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Mail from '../icons/Mail.astro';
import Code from '../icons/Code.astro';


---

<Layout  title="Portfolio de Juan Cruz M치rquez - Desarrollador y programador web con +4 a침os de experiencia"  description="Contrata a Juan Cruz M치rquez como desarrollador web. Desarrollo de sitios web, aplicaciones web, aplicaciones m칩viles, ecommerce, landing pages, y m치s.">
	<main class="px-4 z-30">
		<SectionContainer class="py-44 pb-32">
			<h1 class="text-white text-4xl lg:text-5xl font-bold flex flex-row text-pretty  gap-x-4 pb-10 gap-2">
				<img src="https://avatars.githubusercontent.com/u/70668267?v=4" class="rounded-full w-12 h-12 md:hidden" alt="Foto de perfil de Juan Cruz">
				Hey <span class="hover:rotate-45 hover:transition hover:duration-300 transition duration-300 ">游녦</span> soy Juan Cruz !  <div class="justify-center items-center flex"><Badge href="https://vemovilidad.com/">Working in VEMO!</Badge></div>
			</h1>
			<div class="text-2xl text-warp justify-items-start max-w-[700px]"
			>
			<span class="text-green-300/80">+4 a침os de exp.</span> 
			<span class="opacity-90">Desarrollador Full Stack y futuro Ing. en Sistemas.</span>
			<span class="justify-items-start text-white/70  gap-x-2">Villa Mar칤a, C칩rdoba, Argentina. </span></div>
	
			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/juancruzmarquez/">
						<Linkedin class="size-4"/>
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/juancruzmarq">
						<Github class="size-4"/>
						Github
					</SocialPill>
					<SocialPill href="https://twitter.com/Juancruuz">
						<X class="size-4"/>
						X
					</SocialPill>
					<SocialPill href="mailto:marquezjuanchy@hotmail.com">
						<Mail class="size-4"/>
						marquezjuanchy@hotmail.com
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" class="py-40">
			<h2 class="text-2xl font-semibold mb-8 gap-x-2 items-center flex justify-start"><Computer class="size-6 opacity-50 "/>Experiencia </h2>
			<Experience/>
		</SectionContainer>

		<Divider />

		<SectionContainer id="proyectos" class="py-40">
			<h2 class="text-2xl font-semibold mb-8 gap-x-2 items-center flex justify-start"><Code class="size-6 opacity-50"/>Proyectos </h2>
			<Projects/>
		</SectionContainer>
	</main>
</Layout>

