<footer
  class="flex flex-row justify-center rounded-lg shadow bg-black/10 backdrop-blur-lg w-full  z-50 mx-auto  bottom-0"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex md:items-center md:justify-center h-full"
  >
    <span class="text-sm sm:text-center text-white/60"
      >© 2023 Juan Cruz Márquez.
      Todos los derechos reservados
    </span>
    
  </div>
</footer>