<a class="rounded-full border border-green-300/10 flex justify-center items-center text-xs md:text-base gap-x-2 py-1 px-2 md:py-2 md:px-4 bg-white/5 hover:scale-110 hover:shadow-sm hover:shadow-green-800  hover:bg-gradient-to-tl hover:from-green-500/10 hover:via-[#2f2f44] hover:to-[#1c1c2a] transition duration-500 hover:bg-white/20 " {...Astro.props} target="_blank" rel="noopener noreferrer">
<slot/>
</a>